.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .header__button {
    color: $heading-color;

    &:hover {
      background: $heading-color;
      color: white;
    }
  }
}