.hero {
  padding-top: 83px;
  display: flex;
  align-items: start;
  min-height: 100dvh;
  justify-content: space-between;

  .hero__title {
    h1 {
      font-weight: 900;
      font-size: 56px;
      line-height: 56px;
      letter-spacing: 0px;
      text-transform: uppercase;
      max-width: 455px;
      color: $heading-color;
      margin-bottom: 24px;
    }

    p {
      font-weight: 500;
      font-size: 18px;
      line-height: 26px;
      letter-spacing: 0px;
      color: $text-color;
      max-width: 445px;
    }

    .hero__btn__group {
      display: flex;
      align-items: center;
      gap: 40px;

      .hero__title__button {
        background: $primary-color;
        color: white;

        &:hover {
          background: #FF9B62;
        }

      }

      a {
        font-weight: 700;
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 0px;
        text-transform: uppercase;
        color: $text-color;

        &:hover {
          color: $heading-color;
        }
      }
    }
  }

  .hero__image {
    display: flex;
    // align-items: center;

    .hero__design {
      position: absolute;
      right: 0;
    }
  }

  @media (max-width: 1200px) {
    .hero__title {
      h1 {
        font-size: 48px;
        line-height: 48px;
        max-width: 339px;
      }

      p {
        font-size: 16px;
        line-height: 26px;
        max-width: 339px;
      }
    }

    .hero__image {
      .hero__img {
        width: 478px;
        position: absolute;
        right: 0;
        top: 160px;
      }

      .hero__design {
        display: none;
      }
    }
  }

  @media (max-width: 970px) {
    flex-direction: column;

    .hero__image {
      .hero__img {
        top: 520px;
      }
    }
  }

  @media (max-width: 970px) {

    .hero__btn__group {
      gap: 30px;
    }

    .hero__image {
      .hero__img {
        width: 320px;
      }
    }
  }

}